*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, rgba(81, 213, 213, 0.847), #b068d2d5);
    color: #222;
    text-align: center;
    margin-block: 20px;
}

.pokemons {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pokemon {
    border-radius: 5px;
    box-shadow: 2px 2px 12px #688bd2d5;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #222;
}

form {
    width: 100%;
    margin-block: 20px;
}

input {
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    box-shadow: 2px 2px 12px #688bd2d5;
    background: none;
    color: #222;
}

button {
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    box-shadow: 2px 2px 12px #688bd2d5;
    background: #688bd2d5;
    color: #222;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons button {
    border-radius: 5px;
}